#canvas_container {
    margin: 0px;
    text-align: center;
}

h1 {
    margin: 80px 0px 0px;
    text-align: center;
    color: #FF637F;
    font-size: 60pt;
    font-weight: 700;
    font-family: 'Chivo', monospace;
}

h2 {
    margin: 0px 0px 50px;
    text-align: center;
    color: black;
    font-weight: 700;
    font-family: 'Chivo', monospace;
}

p, li {
    font-size: 18pt;
    font-weight: 400;
    font-family:'Chivo', monospace;
}

body {
    background-image: url('images/bubble_bg.png');
    background-repeat: no-repeat; 
    background-size: cover;
}

#instructions {
    padding: 50px 0px;
    margin: auto;
    width: 75%;
}